<span
  class="counter svelte-1thbyxv"
  inert=""
  style="
    animation: 1000ms linear 0ms 1 normal both running __svelte_196616377_0;
  "
  >20<span class="counter svelte-13rqoqh"
    ><span class="numbers animate svelte-13rqoqh"
      ><span class="count-span svelte-13rqoqh">02</span
      ><span class="count-span svelte-13rqoqh">03</span
      ><span class="count-span svelte-13rqoqh">04</span
      ><span class="count-span svelte-13rqoqh">05</span
      ><span class="count-span svelte-13rqoqh">06</span
      ><span class="count-span svelte-13rqoqh">07</span
      ><span class="count-span svelte-13rqoqh">08</span
      ><span class="count-span svelte-13rqoqh">09</span
      ><span class="count-span svelte-13rqoqh">10</span
      ><span class="count-span svelte-13rqoqh">11</span
      ><span class="count-span svelte-13rqoqh">12</span
      ><span class="count-span svelte-13rqoqh">13</span
      ><span class="count-span svelte-13rqoqh">14</span
      ><span class="count-span svelte-13rqoqh">15</span
      ><span class="count-span svelte-13rqoqh">16</span
      ><span class="count-span svelte-13rqoqh">17</span
      ><span class="count-span svelte-13rqoqh">18</span
      ><span class="count-span svelte-13rqoqh">19</span
      ><span class="count-span svelte-13rqoqh">20</span
      ><span class="count-span svelte-13rqoqh">21</span
      ><span class="count-span svelte-13rqoqh">22</span
      ><span class="count-span svelte-13rqoqh">23</span
      ><span class="count-span svelte-13rqoqh">24</span></span
    ></span
  ></span
>
