.ab__large-image{
    left: 110px;
}
.ab__small-image{
    right: 0px !important;
    bottom: 10px !important; 
}
.ab__left-section h1{
font-size: 70px;
font-weight: 400;
line-height: 90px !important;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.ab__left-section p {
    width: 580px;
font-size: 18px;
font-weight: 290;
line-height: 22.86px;

}
.ab__icon-section{
    margin-top: 40px;
}